profiles:
  qnap:
    update_every: 10
    retries: 1
    timeout: 2
  ubiquiti:
    update_every: 10
    retries: 1
    timeout: 2
  ubiquiti-switch:
    update_every: 10
    retries: 1
    timeout: 2
  supermicro:
    update_every: 10
    retries: 1
    timeout: 2
  linux:
    update_every: 10
    retries: 1
    timeout: 2
  opnsense:
    update_every: 10
    retries: 1
    timeout: 2
